/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body *{
     text-align: center;
   }
   
.button{
  margin: 0 auto;
}

img{
  display: block;
  margin: 0 auto;
  height: 200px;
}

h1 {
     font-size: 30px;
}

/******************************************
/* LAYOUT
/*******************************************/





/******************************************
/* ADDITIONAL STYLES
/*******************************************/
